<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- plugins:css -->
    <link rel="stylesheet" href="../template/vendors/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="../template/vendors/base/vendor.bundle.base.css" />
    <!-- endinject -->

    <link rel="stylesheet" href="../template/css/style.css" />
  </head>
  <body>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
              <a href="Appoint.html"></a>
              <div class="card-body">
                <p class="card-title text-md-center text-xl-left">
                  Appointments
                </p>
                <div
                  class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center"
                >
                  <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">
                    340
                  </h3>
                  <i
                    class="ti-calendar icon-md text-muted mb-0 mb-md-3 mb-xl-0"
                  ></i>
                </div>
                <p class="mb-0 mt-2 text-danger">
                  0.12%
                  <span class="text-black ms-1"><small>(30 days)</small></span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
              <a href="users.html"></a>
              <div class="card-body">
                <p class="card-title text-md-center text-xl-left">Users</p>
                <div
                  class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center"
                >
                  <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">
                    470
                  </h3>
                  <i
                    class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"
                  ></i>
                </div>
                <p class="mb-0 mt-2 text-danger">
                  0.47%
                  <span class="text-black ms-1"><small>(30 days)</small></span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
              <a href="history.html"></a>
              <div class="card-body">
                <p class="card-title text-md-center text-xl-left">History</p>
                <div
                  class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center"
                >
                  <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">
                    400
                  </h3>
                  <i
                    class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"
                  ></i>
                </div>
                <p class="mb-0 mt-2 text-success">
                  64.00%<span class="text-black ms-1"
                    ><small>(30 days)</small></span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- plugins:js -->
    <script src="../template/vendors/base/vendor.bundle.base.js"></script>
    <script src="../template/vendors/chart.js/Chart.min.js"></script>
  </body>
</html>
